body {
  --color1: #2E3436;
  --color3: #FBE85D;
  --color2: #EDB6A3;
  --color4: #8AA2A9;
  --color5: #6E9727;
  --header-height: 40px;
  font-family: 'Fredoka One', cursive;
}

body {
  background-color: var(--color1);
}
